@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@500;600&family=Roboto:wght@300;400;500;700;900&display=swap");

.topbar-left {
  flex: 3;
  display: flex;
  align-items: center;
  font-family: Fredoka;
  color: white;
  font-size: 30px;
  margin-left: 120px;
}

.topbar-center {
  flex: 6;
  display: flex;
  align-items: center;
}

.topbar-right {
  flex: 3;
  display: flex;
  align-items: center;
  object-fit: cover;
}

.topbar-container {
  display: flex;
  height: 70px;
  background-color: #161222;
}

* {
  margin: 0;
  padding: 0;
}

.topbar-searchbox {
  width: 70%;
  height: 60%;
  background-color: black;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.searchbox-icon {
  color: white;
  margin: 0 15px;
}

.searchbox-input {
  background-color: black;
  border: none;
  color: white;
  width: 80%;
}

.searchbox-input:focus {
  outline: none;
}

.topbar-dp {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.topbar-logout {
  margin-right: 30px;
  padding: 20px 40px;
  height: 60%;
  border-radius: 50px;
  background-color: #e64c65;
  border: none;
  color: white;
  font-family: Fredoka;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
